mixin tab(tab)
  .tab
    .tab__products
      .tab__images
        if tab.image1
          .tab__product
            a(href=tab.image1).tab__link
              img(src=tab.image1).tab__img
        if tab.image2
          .tab__product
            a(href=tab.image2).tab__link
              img(src=tab.image2).tab__img
        if tab.image3
          .tab__product
            a(href=tab.image3).tab__link
              img(src=tab.image3).tab__img
        if tab.image4
          .tab__product
            a(href=tab.image4).tab__link
              img(src=tab.image4).tab__img
        if tab.image5
          .tab__product
            a(href=tab.image5).tab__link
              img(src=tab.image5).tab__img
        if tab.image6
          .tab__product
            a(href=tab.image6).tab__link
              img(src=tab.image6).tab__img
        if tab.image7
          .tab__product
            a(href=tab.image7).tab__link
              img(src=tab.image7).tab__img
        if tab.image8
          .tab__product
            a(href=tab.image8).tab__link
              img(src=tab.image8).tab__img
